<div>
  <h2>Certificates</h2>
  <table mat-table [dataSource]="certs" class="mat-elevation-z8">
    <ng-container matColumnDef="serialNumber">
      <th mat-header-cell *matHeaderCellDef>Serial No</th>
      <td mat-cell *matCellDef="let element">{{ element.serialNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="commonName">
      <th mat-header-cell *matHeaderCellDef>Common Name</th>
      <td mat-cell *matCellDef="let element">{{ element.commonName }}</td>
    </ng-container>

    <ng-container matColumnDef="issuer">
      <th mat-header-cell *matHeaderCellDef>Issuer</th>
      <td mat-cell *matCellDef="let element">{{ element.issuer }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
    </ng-container>

    <ng-container matColumnDef="revoke">
      <th mat-header-cell *matHeaderCellDef>Revoke</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="revoke"
          (click)="revokeCert(element.serialNumber)"
        >
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >remove_circle_outline</mat-icon
          >
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
