<div>
  <h2>Create Template</h2>
  <div class="form-container">
    <section>
      <div class="template-input-wrapper">
        <mat-form-field>
          <input
            class="template-input"
            matInput
            placeholder="Template"
            [(ngModel)]="content"
          />
        </mat-form-field>
        <button class="template-button" mat-button (click)="submitForm()">
          Submit
        </button>
      </div>
    </section>
  </div>
</div>
