.template-input-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.template-input .template-button {
  flex: 1;
}

.template-input {
  height: 250px;
  box-shadow: 5px;
}