<div class="container">
  <aside class="side-spacer"></aside>
  <article class="content">
    <mat-card class="card">
      <router-outlet></router-outlet>
    </mat-card>
  </article>
  <aside class="side-spacer"></aside>
</div>
