.container {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.side-spacer {
  min-width: 10%;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  padding: 20px 0 40px 0;
  max-width: 900px;

  display: flex;
}

.card {
  flex-grow: 1;
}