<!--The content below is only a placeholder and can be replaced.-->
<header>
  <mat-toolbar id='app-nav'>MegaTravel PKI Client</mat-toolbar>
</header>
<div id='app-body'>
  <mat-sidenav-container id="app-sidenav-container">
    <mat-sidenav
      id='app-sidenav'
      mode="side"
      opened
    >
      <ng-container *ngFor='let link of navlinks'>
        <mat-expansion-panel 
          *ngIf='link.sublinks; else notExp'
          class='app-sidenav-exp'
        >
          <mat-expansion-panel-header>
            <mat-panel-title>{{ link.text }}</mat-panel-title>
          </mat-expansion-panel-header>
          <button
            mat-button
            *ngFor='let sublink of link.sublinks'
            class='app-sidenav-btn'
            (click)='navigate(sublink.path)'
          >{{ sublink.text }}</button>
        </mat-expansion-panel>
        <ng-template #notExp>
          <button
            mat-button
            class='app-sidenav-btn'
            (click)='navigate(link.path)'
          >{{ link.text }}</button>
        </ng-template>
      </ng-container>
    </mat-sidenav>
    <mat-sidenav-content id='app-content'>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<footer>
  <div id="app-footer">
    <span
      style="float: right; font-size: 12px; padding-right: 15px"
    >MegaTravel 2019</span>
  </div>
</footer>