#app-body {
  height: calc(100vh - 64px);
  width: 100%;
}

#app-footer {
  height: 16px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  background-color: #212121;
  color: #EEEEEE;
}

#app-sidenav-container {
  height: 100%;
  width: 100%;
}

#app-sidenav {
  width: 20%;
}

.app-sidenav-btn {
  width: 100%;
  height: 48px;
  padding: 0 24px;

  text-align: left;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.app-sidenav-exp {
  border: 0px;
  border-radius: 0;
  box-shadow: none;
}