.inputfile-label {
  color: #f1e5e6;
  padding: 5px;
  background-color: #ff4081;
}

.is-disabled {
  background-color: #ffcad3;
}

.inputfile {
  display: none;
}

.form-container {
  display: flex;
  flex-direction: column
}

.divider {
  position: relative;
  margin: 25px 0 15px 0;
}

.vertical-divider {
  width: 1px;
  background: lightgray;
}

.extensions-cbox {
  margin-top: 5px;
}

#subject-info-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cert-info-footer {
  margin-top: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

#basic-info {
  padding: 10px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#subject-info, #cert-info {
  width: 40%;

  display: flex;
  flex-direction: column;
}

#extensions {
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 0px 20px;
}

#extensions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#key-usage, #extended-key-usage, #other-constraints {
  display: flex;
  flex-direction: column;
}

#actions {
  margin: 0px 20px 10px 2px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}