<div>
  <div class="form-container">
    <section id="basic-info">
      <section id="subject-info">
        <h2 class="mat-subheading-1">Subject Information</h2>
        <mat-form-field>
          <input matInput placeholder="Organization" [(ngModel)]="subject.organization" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Organizational Unit" [(ngModel)]="subject.organizationalUnit" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Common Name" [(ngModel)]="subject.commonName" />
        </mat-form-field>
        <div id="subject-info-footer">
          <mat-form-field style="max-width: 80px">
            <input
              type="text"
              placeholder="Country"
              matInput
              [matAutocomplete]="auto1"
              [(ngModel)]="subject.country"
            />
            <mat-autocomplete #auto1="matAutocomplete">
              <mat-option value="" selected>-</mat-option>
              <mat-option *ngFor="let country of countries" [value]="country">
                {{ country }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-checkbox
            [(ngModel)]="certAuthority"
            [indeterminate]="false"
            [labelPosition]="'after'"
            [disabled]="false"
            style="margin-top: 20px"
            >Certification Authority</mat-checkbox
          >
        </div>
      </section>
    </section>
    <section id="extensions">
      <h2 class="mat-subheading-1">Extensions</h2>
      <div id="extensions-container">
        <section id="key-usage">
          <h3 class="mat-body-1">Key Usage</h3>
          <mat-checkbox
            *ngFor="let usage of keyUsage"
            class="extensions-cbox"
            [(ngModel)]="usage.value"
            [indeterminate]="false"
            [labelPosition]="'after'"
            [disabled]="false"
            >{{ usage.text }}</mat-checkbox
          >
        </section>
        <section id="extended-key-usage">
          <h3 class="mat-body-1">Extended Key Usage</h3>
          <mat-checkbox
            *ngFor="let usage of extendedKeyUsage"
            class="extensions-cbox"
            [(ngModel)]="usage.value"
            [indeterminate]="false"
            [labelPosition]="'after'"
            [disabled]="false"
            >{{ usage.text }}</mat-checkbox
          >
        </section>
      </div>
    </section>

    <section>
      <section id="other-constraints">
        <h2 class="mat-body-1">Name Constraints</h2>
        <h3 class="mat-body-1">Permitted</h3>
        <mat-card
          *ngFor="let constraint of nameConstraintsPermitted"
          style="display: flex; flex-direction: column"
        >
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="constraint.value">
              <mat-option value="DNS">DNS</mat-option>
              <mat-option value="URI">URI</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Value" value="" />
          </mat-form-field>
        </mat-card>
        <div
          style="display: flex; justify-content: center; align-content: center"
        >
          <button mat-fab style="margin: 5px" (click)="addNamePermitted()">
            +
          </button>
        </div>

        <h3 class="mat-body-1">Excluded</h3>
        <mat-card
          *ngFor="let constraint of nameConstraintsExcluded"
          style="display: flex; flex-direction: column"
        >
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="constraint.value">
              <mat-option value="DNS">DNS</mat-option>
              <mat-option value="URI">URI</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Value" value="" />
          </mat-form-field>
        </mat-card>
        <div
          style="display: flex; justify-content: center; align-content: center"
        >
          <button mat-fab style="margin: 5px" (click)="addNameExcluded()">
            +
          </button>
        </div>
      </section>
    </section>

    <section>
      <section id="other-constraints">
        <h2 class="mat-body-1">Authority Information Access</h2>
        <mat-card *ngFor="let authorityInfo of authorityInformationAccess" style="display: flex; flex-direction: column">
          <mat-form-field>
            <mat-label>Method</mat-label>
            <mat-select [(ngModel)]="authorityInfo.method">
              <mat-option value="CA_ISSUERS">CA Issuers</mat-option>
              <mat-option value="OCSP">OCSP</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="authorityInfo.value.type">
              <mat-option value="DNS">DNS</mat-option>
              <mat-option value="URI">URI</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Issuer</mat-label>
            <mat-select [(ngModel)]="authorityInfo.value.value">
                <mat-option *ngFor="let issuer of issuers" [value]="issuer">{{issuer}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>
        <div
          style="display: flex; justify-content: center; align-content: center"
        >
          <button mat-fab style="margin: 5px" (click)="addAuthorityInfo()">
            +
          </button>
        </div>
      </section>

      <section>
        <h2 class="mat-body-1">Alternative names</h2>
        <mat-card *ngFor="let alternativeName of alternativeNames" style="display: flex; flex-direction: column">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="alternativeName.type">
              <mat-option value="DNS">DNS</mat-option>
              <mat-option value="URI">URI</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Value</mat-label>
            <input matInput placeholder="Name" [(ngModel)]="alternativeName.value" />
          </mat-form-field>
        </mat-card>
        <div
          style="display: flex; justify-content: center; align-content: center"
        >
          <button mat-fab style="margin: 5px" (click)="addAlternativeName()">
            +
          </button>
        </div>
      </section>

      <section>
        <div id="cert-info-footer">
          <mat-checkbox
            [(ngModel)]="generateKeys"
            [indeterminate]="false"
            [labelPosition]="'after'"
            [disabled]="false"
            >Generate keys</mat-checkbox
          >
          <input
            type="file"
            name="file-1[]"
            id="file-1"
            class="inputfile"
            [disabled]="generateKeys"
            (change)="handlePublicKeyUpload($event)"
          />
          <label
            for="file-1"
            [ngClass]="[
              'inputfile-label ' + (generateKeys ? 'is-disabled' : '')
            ]"
            ><span>Public Key</span></label
          >
        </div>

      </section>
    </section>
    <button mat-button (click)="submitForm()">Submit</button>
  </div>
</div>
